.button {
  display: inline-block;

  box-sizing: border-box;
  padding: 10px;

  cursor: pointer;
  border: none;
  border-radius: 5px;

  font-size: 14px;
  transition: all 0.2s;
}

.primary {
  color: var(--white);
  background: var(--primary);
}

.primary:hover {
  background: var(--primary-hover);
}

.ghost {
  color: var(--black);
  background: none;
  border: 1px solid var(--gray-light);
}

.ghost:hover {
  background: var(--primary-hover);
  color: var(--white);
}

.arrow {
  display: inline-block;
  margin-left: 10px;
  transition: all 0.2s ease;
}

.down {
  transform: rotate(90deg);
}

.primary svg,
.ghost:hover svg {
  fill: var(--white);
}
